:root {
    --main-color: blue;
}
body {
    background-image: url(/Pngs/bg_img_2.jpg);
    background-size: 100%;
    overflow: hidden;
}

.font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.bold {
    font-weight: bold;
}

.main {
    margin: auto auto;
    height: 90vh;
    width: 100vw;
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 25vw;
    background-color: rgb(203, 225, 252);
    border: .5px solid rgb(90, 90, 90);
    padding: 10px 10px 10px 0px;
    justify-content: center;
    border-radius: 15px;
}

.width{
    width: 400px;
}
.header {
    color: var(--main-color);
    margin-top: 3vh;
    margin-left: 3vh;
    width: 100%;
    display: block;
}

.input {
    display: block;
    margin: 5px 5% 5px 5%;
    width: 85%;
    height: 10%;
    padding: 5px 5px 0px 10px;
    border-radius: 10px;
    border: 2px solid var(--main-color);
    font-size: large;
    font-family:  'Calibri','Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.option {
    display: flex;
    justify-content: center;
}

.btn{
    height: 8vh;
    width: 70%;
    margin: 0px 0px;
    
}
.btn-css{
    background-color: rgb(17, 115, 213);
    color: white;
    border-radius: 40px;
    border: none;
    font-size: large;
}
.pointer {
    cursor: pointer;
}

.btn:hover,
.btn:visited {
    background-color: rgb(6, 97, 189);

}

.login {
    margin-left: 5px;
}

.pass {
    display: flex;
}

.pass img {
    height: 30px;
}
.take-image{
    margin: 5px 0 5px 5%;
}
.label{
    padding: 6px 10px 6px 10px;
    margin-left: 15% ;
}
#bg_img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}