body {
    margin: 0;
    padding: 0;
    background-image: url(/Pngs/bg_img_3.gif);
}
#marquee{
    padding: 50px;
    margin-top: 200px;
    font-size: xx-large;
    color: deeppink;
}
#top_bar {
    padding: 5px;
    height: 70px;
    display: flex;
    /* flex-direction: row-reverse; */
    background-color: rgb(186, 231, 249);
    align-items: center;
    transition: all .17s ease-in-out;
}

#top_bar:hover {
    background-color: rgb(149, 225, 255);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 5px;
}

.btn {
    cursor: pointer;
    color: rgb(9, 0, 171);
    font-size: 30px;
    margin: 0 10px;
    /* border: .3px solid rgb(0, 47, 255); */
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    transition: all .15s ease-in-out;
}

.btn:hover {
    border: 1px solid white;
    border-radius: 25px;
    background-color: white;
    scale: 110%;
    padding: 8px 13px;
    margin: 0 12px;
}
#header{
    cursor: pointer;
    margin-left: 10px  ;
margin-right: auto;
    color: rgb(9, 0, 171);
    border: .3px solid rgb(9, 0, 171);
    border-radius: 50px;
    padding: 10px;
    transition: all .2s ease-in-out;
}
#header:hover{
    scale: 110%;
    box-shadow: 0px 0px 3px .5px;
}