#whole-screen {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#div-setting {
    position: static;
    border: 1px solid grey;
    border-radius: 10px;
    width: 25%;
    margin: 0 5px;
    height: 100vh;
}

.setting-card {
    margin: 3px 5px;
    border: 2px solid #00afda;
    background-color: white;
    border-radius: 100px;
    padding: 8px 10px;
}

.setting-card:hover {
    background-color: #b4eefd;
    border: 2px solid #b4eefd;

}

.no-link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
}

#view-profile {
    align-items: center;
    display: flex;
    margin: 5px;
}

.profile_pic {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 2px 3px;
    overflow: hidden;

}

#view-profile h6 {
    margin: 9px 20px;
}



#main-timeline {
    margin: 0 3px;
    width: 50%;
    border: 1px solid grey;
    border-radius: 10px;
}

#extra-features {
    margin: 0 3px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 25%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

#new-post {
    padding: 10px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    /* height: 100px; */
}
#new-post button{
    font-size: large;
    margin: auto 20px;
    border-color: grey;
}
.popup {
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: white;
    position: absolute;
    width: 10px;
    top: -50%;
    border: 3px solid rgb(100, 100, 100);
    border-radius: 20px;
    transition: all .1s ease;
    visibility: hidden;
}

.show-newpost-popup {
    visibility: visible;
    position: absolute;
    width: 40%;
    top: 10%;
    /* filter: blur(4px); */

}

#caption-area {
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    resize: none;
}

#take-image {
    display: block;
}

#root canvas {
    margin: 3px 0;
    width: 36vw;
}
#person_card{
    width: auto;
    border-radius: 6px;
    border: 1px solid grey;
    margin: 5px;
    /* padding: 20px; */
}
#extra_header{
    color: #00afda;
    margin: 5px 10px;
}
#add_friend{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
#declineRequest{
    color: red;
    margin: 3px 5px;
    border: 2px solid #ff0000;
    background-color: white;
    border-radius: 100px;
    padding: 8px 10px;
}
#declineRequest:hover{
    background-color: red;
    color: white;
}
#userBanner{
    width: 100%;
}
#userProfilePic{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: -40px;
    border-radius: 100%;
    overflow: hidden;
    padding: 5px;
    border: 5px solid #00afda;
}
#fullname{
    margin-left: 140px;
    margin-top: -40px;
    margin-bottom: 25px;
}
#userDetails{
    margin: 3px 3px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
}
.userCard{
    display: flex;
}
#msg_section{
    display: flex;
    flex-direction: column;
    border: 2px solid #00afda;
    /* height: 90vh; */
    /* height: ; */
    border-radius: 10px;
}
#msg_top{
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #b4eefd;
    color: black;
    display: flex;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#logout{
    color: red;
    margin: 3px 5px;
    border: 2px solid #ff0000;
    background-color: white;
    border-radius: 100px;
    padding: 8px 10px;
}
#logout:hover{
    background-color: red;
    color: white;
}
#backbtn{
    height: 70px;   
}
#msg_div{
    border: 1px solid red;
    height: 80%;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}
.msg_sent{
    background-color: #00afda;
    width: auto;
    margin: 2px;
    margin-left: auto;
    padding:  6px 15px;
    border-radius: 100px;
}
.msg_recieved{
    background-color: #6ee2ff;
    width: auto;
    margin: 2px;
    padding: 6px 15px;
    border-radius: 100px;
}
.message{
    display: flex;
    display: flex;
    width: 100%;
}
#msg_input{
    display: flex;
    padding: 3px;
}
#textarea{
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    resize: none;
}
#sendbtn{
    height: 40px;
}