body{
    margin: 0;
    padding: 0;
}
#whole-screen {
    
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#div-setting {
    border: 1px solid grey;
    box-shadow: 0 0 3px black;

    border-radius: 10px;
    width: 25%;
    margin: 0 5px;
    height: 100vh;
}
#div-setting:hover {
    box-shadow: 0 0 8px black;
}

.setting-card {
    margin: 3px 5px;
    border: 2px solid #00afda;
    background-color: white;
    border-radius: 100px;
    padding: 8px 10px;
}

.setting-card:hover {
    background-color: #b4eefd;
    border: 2px solid #b4eefd;

}

.no-link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
}

#view-profile {
    align-items: center;
    display: flex;
    margin: 5px;
}

.profile_pic {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 2px 3px;
    overflow: hidden;

}

#view-profile h6 {
    margin: 9px 20px;
}



#main-timeline {
    margin: 0 3px;
    width: 40%;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}
#main-timeline:hover{
    box-shadow: 0 0 8px black;

}

#extra-features {
    margin: 0 3px;
    width: 25%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    height: 100vh;
}
#extra-features:hover{
    box-shadow: 0 0 8px black;
}

#new-post {
    padding: 10px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    /* height: 100px; */
}
#new-post button{
    font-size: large;
    margin: auto 20px;
    border-color: grey;
}
.popup {
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: white;
    position: absolute;
    left: 30%;
    top: -50%;
    border: 3px solid rgb(100, 100, 100);
    border-radius: 20px;
    transition: all .1s ease;
    visibility: hidden;
}

.show-newpost-popup {
    visibility: visible;
    position: absolute;
    width: 40%;
    top: 10%;
    /* filter: blur(4px); */

}

#caption-area {
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    resize: none;
}

#take-image {
    display: block;
}

#root canvas {
    margin: 3px 0;
    width: 36vw;
}
#person_card{
    width: auto;
    border-radius: 6px;
    border: 1px solid grey;
    margin: 5px;
    /* padding: 20px; */
}
#extra_header{
    color: #00afda;
    margin: 5px 10px;
}
#add_friend{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
#declineRequest{
    color: red;
    margin: 3px 5px;
    border: 2px solid #ff0000;
    background-color: white;
    border-radius: 100px;
    padding: 8px 10px;
}
#declineRequest:hover{
    background-color: red;
    color: white;
}
#userBanner{
    width: 100%;
}
#userProfilePic{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: -40px;
    border-radius: 100%;
    overflow: hidden;
    padding: 5px;
    border: 5px solid #00afda;
}
#fullname{
    margin-left: 140px;
    margin-top: -40px;
    margin-bottom: 25px;
}
#userDetails{
    margin: 3px 3px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
}
.userCard{
    display: flex;
}
#msg_section{
    height: 90vh;
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    border: 2px solid #00afda;
    border-radius: 10px;
}
#msg_top{
    align-items: center;
    width: auto;
    height: 70px;
    background-color: #b4eefd;
    color: black;
    display: flex;
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#logout{
    color: red;
    margin: 3px 5px;
    border: 2px solid #ff0000;
    background-color: white;
    border-radius: 100px;
    padding: 8px 10px;
}
#logout:hover{
    background-color: red;
    color: white;
}
#backbtn{
    height: 70px;   
}
#msg_div{
    height: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.msg_sent{
    background-color: #00afda;
    width: auto;
    max-width: 70%;
    margin: 2px;
    margin-left: auto;
    padding:  6px 15px;
    border-radius: 20px;
}
.msg_recieved{
    background-color: #6ee2ff;
    max-width: 70%;
    width: auto;
    margin: 2px;
    padding: 6px 15px;
    border-radius: 20px;
}
.message{
    display: flex;
    width: 100%;
}
#msg_input{
    display: flex;
    padding: 3px;
}
#textarea{
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    resize: none;
}
#sendbtn{
    height: 40px;
}
#screen_div{
    display: flex;
    height: 91vh;
}
#msgs_contact{
    overflow-y: scroll;
    width: 30%;
    margin-right: 10px;
    border: 1px solid gray;
}

#msgs_details{
    margin-top: 5px;
    width: 70%;
}
#msgs_bg{
    margin-right: 10px;
    width: auto;
    border: 1px solid #00afda;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#msg_icon{
    height: 70px;
    margin: 10px;
}
.row-flex{
    border: 3px solid #000BD0;
    border-radius: 50px;
    padding: 0px 10px 0 0;
    margin: 8px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}
.row-flex:hover{
    transform: scale(110%);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 14px;
}
.row-flex h1{
    color: #000BD0;
}